/* CSS declarations go here */
body {
  padding-top: 50px;
  max-width: 768px;
}

.starter-template {
  padding: 40px 15px;
}

.modal-backdrop {
      background-color: #000;
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 0 !important;
}

@media screen and (min-width: 768px) {
  
  #viewModal .modal-dialog  {
    margin: 10px;
    top:5px;
    width:900px;
  }
 /* #viewModal {
top:5%;
right:50%;

  }*/

}
